*.mid
*.png
*.ipynb
baseline_models/RNN/.idea/workspace.xml
RNN/.idea/modules.xml
RNN/.idea/workspace.xml
RNN/.idea/misc.xml
RNN/.DS_Store
baseline_models/RNN/.idea/workspace.xml
RNN/.idea/RNN.iml
baseline_models/RNN/.idea/workspace.xml
